.list {
display: flex;
flex-direction: column;
    background-color: rgb(255, 228, 196);
    margin-top: 50px;
    width: 350px;
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 500ms;
    cursor: pointer;
}
.list:hover{
    transform: scale(1.05);
}
.avatar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

    width: 100px;
    border-radius: 50%;
    border: 1px solid rgb(163, 42, 42);
}
.item {
    border: 1px solid rgb(163, 42, 42);
    border-radius: 5px;
    margin-bottom: 10px;
}

.name {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.online {
    font-style: italic;
    color: rgb(4, 158, 4);
}

.offline {
    color: rgb(131, 127, 127);
    font-style: italic;
}